name: Deploy LMS App

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Deploy to EC2
        uses: appleboy/ssh-action@v1.0.0
        with:
          host: ${{ secrets.EC2_HOST }}
          username: ${{ secrets.EC2_USER }}
          key: ${{ secrets.EC2_KEY }}
          script: |
            set -e
            cd /home/ubuntu/LMSapp

            git fetch origin
            git reset --hard origin/main

            sudo docker-compose -f docker-compose.yml down
            sudo docker-compose -f docker-compose.yml build --no-cache frontend
            sudo docker-compose -f docker-compose.yml up -d

