name: Deploy LMS App to AWS EC2

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Deploy via SSH
        uses: appleboy/ssh-action@v1.0.0
        with:
          host: ${{ secrets.EC2_HOST }}
          username: ${{ secrets.EC2_USER }}
          key: ${{ secrets.EC2_KEY }}
          ssh_options: "-o StrictHostKeyChecking=no"
          script: |
            script: |
  cd LMSapp
  git pull
  docker-compose down
  docker-compose build --no-cache frontend
  docker-compose up -d

