name: Deploy LMS App

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Deploy to EC2
        uses: appleboy/ssh-action@v1.0.0
        with:
          host: ${{ secrets.EC2_HOST }}
          username: ${{ secrets.EC2_USER }}
          key: ${{ secrets.EC2_KEY }}
          ssh_options: "-o StrictHostKeyChecking=no"
          script: |
            set -e
            cd ~/LMSapp
            git pull origin main
            docker-compose down
            docker-compose build --no-cache frontend
            docker-compose up -d

